@font-face {
    font-family: "title";
    src: url(./fuentes/BebasNeue-Regular.ttf);
}

.BarraSup{
    font-family: "title";
    height: 70px;
    background-color: rgba(18, 68, 161, 0.275);
    color: rgb(37, 26, 26);
    /* las propiedades de colores permiten modificar los colores de textos, bordes, fondos para permitir una mejor personalizaci칩n del proyecto. */
  
}
table{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* hay fuentes predeterminadas en el editor de c칩digo, por lo que no es necesario estar subiendolas el 100% de las veces */
}

.barrasub th{
    font-family: "title";
    font-size: 20px;
    font-weight: 300;
}
.BarraSup th{
    border: 2px black solid;
    text-align: center;
    font-size: 40px;
    line-height:20px;
    font-weight:400;
    /* Las propiedades de fuentes contienen el estilo de la letra (font-family), el tama침o de la letra (font-size), su grosor con (font-weight) */
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
}

.habilidad{
    width: 180px;
}

.tiempo{
    width: 130px;
}

.calificaci칩n{
    width: 180px;
}

.utilidad{
    width: 130px;
}

.comentario{
    width: 500px;
}

th {
    height: 50px;
}

.habilidad1{
    height: 50px;
}